    {% for image in site.albums[album_name] %}
    {% assign count = forloop.length %}
        {% capture carousel_width %}{{ count | carousel_width }}{% endcapture %}
    {% endfor %}
    <section class='album' style='height:150px; width:100%; overflow:hidden; position:relative;'>
        {% if count > 4 %}<div class='album-nav' id='carousel_left' ><span id="carousel_left_ico"></span></div>{% endif %}
    <div class='aperture'>
    <div class='carousel' style='width:{{ carousel_width }}px;'>
    	{% for image in site.albums[media['name']] %}
    	<a href="/images/archive/{{ image.src }}.jpg" title="{% if image.caption-title %}{{ image.caption-title }}{% endif %}" caption="{% if image.caption-title %}<span class='heading'>{{ image.caption-title }} </span>{% endif %}{{ image.caption }}" full="/images/archive/{{ image.src }}_full.jpg" rel="album_{% if album_x %}{{album_x}}_x_{% endif %}{{album_y}}">
    		<img class='thumb' src="/images/archive/{{ image.src }}_thumb.jpg" style='margin-right:{% if forloop.last %} 0px {% else %} 18px {% endif %} ;'>
    	</a>
    	{% endfor %}
    </div>
    </div>
        {% if count > 4 %}<div class='album-nav' id='carousel_right' ><span id="carousel_right_ico"></span></div> {% endif %}
    </section>
