{% assign images = site.albums[include.album_name] %}
{% for image in images %}
  {% assign count = forloop.length %}
  {% capture carousel_width %}{{ count | carousel_width }}{% endcapture %}
{% endfor %}
<section class='album' style='height:150px; width:100%; overflow:hidden; position:relative;'>
    {% if count > 4 %}<div class='album-nav' id='carousel_left' ><span id="carousel_left_ico"></span></div>{% endif %}
<div class='aperture'>
<div class='carousel' style='width:{{carousel_width}}px;'>
	{% for image in images %}
    {% assign src_thumb = image.src | append: "_thumb.jpg" %}
    {% assign src_med = image.src | append: ".jpg" %}
    {% assign src_full = image.src | append: "_full.jpg" %}
    {% if image.src-thumb %}
      {% assign src_thumb = image.src-thumb %}
    {% endif %}
    {% if image.src-med %}
      {% assign src_med = image.src-med %}
    {% endif %}
    {% if image.src-full %}
      {% assign src_full = image.src-full %}
    {% endif %}
    <a
      href="/images/archive/{{ src_med }}"
      title="{% if image.caption-title %}{{ image.caption-title }}{% endif %}"
      caption="
        {% if image.caption-title %}
          <span class='heading'>{{ image.caption-title }} </span>
        {% endif %}
        {{ image.caption }}
        {% if image.more-link %}
          <a href='{{ image.more-link }}' target='_blank'>
            SEE MORE
          </a>
        {% endif %}
        "
      data-full="/images/archive/{{ src_full }}"
      rel="album_{% if album_x %}{{album_x}}_x_{% endif %}{{album_y}}"
      >
      <img
        class='thumb'
        src="/images/archive/{{ src_thumb }}"
        data-full="/images/archive/{{ src_full }}"
        style='margin-right:{% if forloop.last %} 0px {% else %} 18px {% endif %} ;'
        />
  	</a>
  {% endfor %}
</div>
</div>
    {% if count > 4 %}<div class='album-nav' id='carousel_right' ><span id="carousel_right_ico"></span></div> {% endif %}
</section>
