<p>
{% for record in sub.posts %}
    {% if record.type == 'book' %}
        {% assign biblio = record.editions[0] %}
        <i><a href="{{ record.url }}">{{ record.title }}{% if record.sub-title %}: {{ record.sub-title }}{% endif %}</a></i>. {% if record.with %}Edited with {{ record.with }}. {% endif %}{% if record.ed-note %}{{ record.ed-note }}. {% endif %}{% if biblio['publisher'] %} {{ biblio['publisher'] }}, {{ biblio['date'] }}{% endif %}.<br>
    {% endif %}
    
    {% if record.type == 'article' %}
        {% assign biblio = record.in[0] %}
        "<a href="{{ record.url }}">{{ record.title }}{% if record.sub-title %}: {{ record.sub-title }}{% endif %}</a>,"
        {% if record.with %} (with {{ record.with }}),{% endif %}
        {% if biblio['notes'] %} {{ biblio['notes'] }},{% endif %}
        {% if biblio['editors'] %} in {% for ed in biblio['editors'] %}{{ ed }}, {% endfor %}eds.,{% endif %}
        {% if biblio['publication'] %}<i>{{ biblio['publication' ]}}</i>{% endif %}
        {% if biblio['publisher'] %} ({% if biblio['location'] %}{{ biblio['location'] }}: {% endif %}{{ biblio['publisher'] }}, {{ biblio['date'] }}).
        {% else %},{% if biblio['issue'] %} {{ biblio['issue'] }},{% endif %}{% if biblio['date'] %} {{ biblio['date'] }}{% endif %}{% endif %}<br>
    {% endif %}
    <br>
{% endfor %}
</p>