{% assign formats = false %}
{% for format in page.formats %}
    {% assign formats = false %}
{% endfor %}
{% if formats %}
<section class='extra' id='formats'>
    <h4><span>ALTERNATE FORMATS</span></h4>
    <ul> 
        {% for url in page.urls %}
        <li><a href='{{ url['url'] }}' target='blank'>{{ url['display'] | upcase }}</a><br></li>            
        {% endfor %}
    </ul>
</section>
{% endif %}

{% assign records = false %}
{% for record in page.related_records %}
    {% assign records = true %}
{% endfor %}
{% if records %}
<section class='extra' id='records'>
    <h4><span>RELATED RECORDS</span></h4>
    <ul> 
        {% for record in page.related_records %}
            {% for post in site.posts %}
                {% if post.id == record %}
                <li><a href='{{ post.url }}'>{{ post.title | upcase }}</a><br></li>            
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
</section>
{% endif %}

{% assign online = false %}
{% for url in page.urls %}
    {% assign online = true %}
{% endfor %}
{% if online %}
<section class='extra' id='links'>
    <h4><span>EXTERNAL LINKS</span></h4>
    <ul> 
        {% for url in page.urls %}
        <li><a href='{{ url['url'] }}' target='blank'>{{ url['display'] | upcase }}</a><br></li>            
        {% endfor %}
    </ul>
</section>
{% endif %}
