!!!5

%html{html_attrs}

  %head
    %meta{ :"http-equiv" => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %title= page.title.match(/The Pug Automatic$/) ? page.title : "#{page.title} – The Pug Automatic"
    %meta{ :name => 'author', :content => 'author name' }
    %link{ :href => FEED_URL, :rel => "alternate", :title => "Eve Kosofsky Sedgwick", :type => "application/atom+xml" }
    
    %link{ :rel => "stylesheet", :type => 'text/css', :href => '/css/screen.css' }
    
    %script{ :src => '/js/jquery-1.4.4.min.js', :type => 'text/javascript' }
    %script{ :src => '/js/jquery-ui-1.8.1.min.js', :type => 'text/javascript' }
    %script{ :src => '/js/eks.js', :type => 'text/javascript' }

  %body
    #site
    
      #sidebar

        #title
          %p= link_to('<img src="/images/pug.png" alt="" />', "/")
          %p= link_to("The Pug Automatic", "/")

        %p
          == A blog by #{link_to('Henrik Nyh', '/about')} mostly on #{tag_link 'Ruby'}, #{tag_link 'Rails', 'Ruby on Rails'} and #{tag_link 'OS X'} automation.
          = link_to('Subscribe by RSS', FEED_URL), '.'
          
        %form#search{ :method => 'get', :action => 'http://www.google.com/search' }
          %input.text{ :type => 'text', :name => 'q' }
          %input{ :type => 'hidden', :name => 'sitesearch', :value => 'henrik.nyh.se' }
          %input.button{ :type => 'submit', :value => 'Google' }
        
        = tag_cloud(site.tags)

        #github
          %a{ :href => 'http://github.com/henrik' }
            %img{ :src => '/images/github.png', :alt => 'github.com/henrik' }
            
        #tweets
          
      #content= content